#topNav {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#topNav li {
	display:block;
	width:120px;
	float:right;
	margin-left:2px;
	border:1px solid #000;
}

#topNav a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#topNav a:hover {
	background-color:#009;
	color:#fff;
}
.active {
  background-color: #4CAF50;
}
         ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
