#topNav {
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
#topNav li {
	display:block;
	width:120px;
	float:right;
	margin-left:2px;
	border:1px solid #000;
}

#topNav a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#topNav a:hover {
	background-color:#009;
	color:#fff;
}
