body{
  margin: 0px;
}

#topNav{
  background-color: gray;
  height: 15%;
  margin: 0px;
}

#topNav li{
    text-decoration: none;
    display: inline;
    float: right;
    padding-right: 35px;
}

#topNav li:hover{
  background-color: black;
}

#topNav li a{
     text-decoration: none;
     font-family:monospace;
     font-size: 35px;
     color: orange;
}

#topNav li a:hover{
  color: yellow;
}

#menuNav{
    height: 100%;
    width: 45px;
    background-color: yellow;
    border-right: 2px solid black;
    margin: 0px;
    float: left;
}

#menuNav li{
  list-style: none;
  font-size: 15px;
  font-family: sans-serif;
  padding-top: 25px;
}


#hamTitle{
  color: red;
}

#hamDes{
  font-size: 35px;
}

#hamPic{
  width: 350px;
  height: 350px;
}

#fryTitle{
  color:yellow;
}
